<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abc.smarthome">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/tu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".StatusSensorActivity"></activity>
        <activity android:name=".StatusLightActivity" />
        <activity android:name=".StatusCurtainActivity" />
        <activity android:name=".StatusAirActivity" />
        <activity android:name=".StatusAvActivity" />
        <activity
            android:name=".Login_Activity"
            android:label="智能家居手机遥控器">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_Activity" />
        <activity
            android:name=".MainPage"
            android:label="@string/main_page_title"></activity>
    </application>

</manifest>